In [8]:
import pandas as pd
import numpy as np 
from os import listdir, path
counter = 0 
files_seven = []
week = 1

dpath_source =  r'C:\Users\TQ\Desktop\Thesis_Code\day_by_day_clean'
dpath = r'C:\Users\TQ\Desktop\Thesis_Code\weekly_data'

for filename in listdir(dpath_source):
    files_seven.append(filename)
    counter += 1
    
    if counter % 7 == 0:
        print(files_seven)
        df = pd.concat((pd.read_csv(dpath_source + "\\" +file) for file in files_seven))
        files_seven = []
        print(str((counter%7) + 1))
        df.to_csv(dpath+"\\week " + str(week)+".csv")
        week += 1

['2005-05-10.csv', '2005-05-11.csv', '2005-05-12.csv', '2005-05-13.csv', '2005-05-14.csv', '2005-05-15.csv', '2005-05-16.csv']
1
['2005-05-17.csv', '2005-05-18.csv', '2005-05-19.csv', '2005-05-20.csv', '2005-05-21.csv', '2005-05-22.csv', '2005-05-23.csv']
1
['2005-05-24.csv', '2005-05-25.csv', '2005-05-26.csv', '2005-05-28.csv', '2005-05-29.csv', '2005-05-30.csv', '2005-05-31.csv']
1
['2005-06-01.csv', '2005-06-02.csv', '2005-06-03.csv', '2005-06-04.csv', '2005-06-05.csv', '2005-06-06.csv', '2005-06-07.csv']
1
['2005-06-08.csv', '2005-06-09.csv', '2005-06-10.csv', '2005-06-11.csv', '2005-06-12.csv', '2005-06-13.csv', '2005-06-14.csv']
1
['2005-06-15.csv', '2005-06-16.csv', '2005-06-17.csv', '2005-06-18.csv', '2005-06-19.csv', '2005-06-20.csv', '2005-06-21.csv']
1
['2005-06-22.csv', '2005-06-23.csv', '2005-06-24.csv', '2005-06-25.csv', '2005-06-26.csv', '2005-06-27.csv', '2005-06-28.csv']
1
['2005-07-03.csv', '2005-07-04.csv', '2005-07-05.csv', '2005-07-06.csv', '2005-07-07.csv', '2005-07-08.csv', '2005-07-09.csv']
1
['2005-07-10.csv', '2005-07-11.csv', '2005-07-12.csv', '2005-07-13.csv', '2005-07-14.csv', '2005-07-15.csv', '2005-07-16.csv']
1
['2005-07-17.csv', '2005-07-18.csv', '2005-07-19.csv', '2005-07-20.csv', '2005-07-21.csv', '2005-07-22.csv', '2005-07-23.csv']
1
['2005-07-24.csv', '2005-07-25.csv', '2005-07-26.csv', '2005-07-27.csv', '2005-07-28.csv', '2005-07-29.csv', '2005-07-30.csv']
1
['2005-07-31.csv', '2005-08-01.csv', '2005-08-02.csv', '2005-08-03.csv', '2005-08-04.csv', '2005-08-05.csv', '2005-08-06.csv']
1
['2005-08-07.csv', '2005-08-08.csv', '2005-08-09.csv', '2005-08-10.csv', '2005-08-11.csv', '2005-08-12.csv', '2005-08-13.csv']
1
['2005-08-14.csv', '2005-08-15.csv', '2005-08-16.csv', '2005-08-17.csv', '2005-08-18.csv', '2005-08-19.csv', '2005-08-20.csv']
1
['2005-08-21.csv', '2005-08-22.csv', '2005-08-23.csv', '2005-08-24.csv', '2005-08-25.csv', '2005-08-26.csv', '2005-08-27.csv']
1

In [9]:
# create excel files  
dpath = r'C:\Users\TQ\Desktop\Thesis_Code\weekly_data'
path_gb = r'C:\Users\TQ\Desktop\Thesis_Code\weekly_data_gb'


# this code create excel files from , to , amount and store it in weekly_data_gb folder 

from os import listdir, path
import os as os 
import pandas as pd 
count = 0 

def clean_s(df):
    
    df.columns = df.columns.str.replace(' ', '')
    df.columns = df.columns.str.lstrip()
    df.columns = df.columns.str.rstrip()
    df.columns = df.columns.str.strip()
    
    return df

    
for index , filename in enumerate(listdir(dpath)):
    df = pd.read_csv( dpath + "\\" + filename )
    df.drop(columns=df.columns[0], axis=1, inplace=True)
    df.columns = ["from" , "to" , "amount"]
    df['amount'] = df['amount'].astype(float)
    clean_s(df)
    print("Week #" + str(index + 1) )
    df = df.groupby(["from","to"])["amount"].sum().reset_index()
    df.to_excel(os.path.join(path_gb, "week{}".format(str(index + 1) ) + ".xlsx"), index = False)
    
    print(df)

Week #1
               from           to         amount
0           Austria      Belgium   16057.641038
1           Austria      Croatia   20532.902045
2           Austria      Denmark   18775.339888
3           Austria       France    8900.132538
4           Austria       Greece    1577.863218
..              ...          ...            ...
452  United Kingdom     Slovakia    3192.669187
453  United Kingdom     Slovenia    7651.642798
454  United Kingdom        Spain   55818.952467
455  United Kingdom       Sweden  501374.722193
456  United Kingdom  Switzerland   57742.419403

[457 rows x 3 columns]
Week #2
               from           to         amount
0           Austria      Belgium   15072.222099
1           Austria      Croatia  415515.971751
2           Austria      Denmark   26657.130959
3           Austria       France     281.467575
4           Austria       Greece  100152.701814
..              ...          ...            ...
448  United Kingdom     Slovakia    1156.354409
449  United Kingdom     Slovenia    2667.840675
450  United Kingdom        Spain   20031.957363
451  United Kingdom       Sweden  355320.240037
452  United Kingdom  Switzerland   65172.667261

[453 rows x 3 columns]
Week #3
               from           to         amount
0           Austria      Belgium   11486.422239
1           Austria      Croatia  261962.976658
2           Austria      Denmark   17748.494693
3           Austria       France     566.749829
4           Austria       Greece   82647.382494
..              ...          ...            ...
450  United Kingdom     Slovakia    1301.615963
451  United Kingdom     Slovenia    3510.118020
452  United Kingdom        Spain   37110.169985
453  United Kingdom       Sweden  330004.152225
454  United Kingdom  Switzerland   46546.848074

[455 rows x 3 columns]
Week #4
               from           to         amount
0           Austria      Belgium   14585.955052
1           Austria      Croatia  289957.312944
2           Austria      Denmark   19477.747309
3           Austria       France     216.099738
4           Austria       Greece   89455.818249
..              ...          ...            ...
449  United Kingdom     Slovakia     996.538284
450  United Kingdom     Slovenia    3454.041899
451  United Kingdom        Spain   32506.653009
452  United Kingdom       Sweden  398901.081042
453  United Kingdom  Switzerland   82474.053889

[454 rows x 3 columns]
Week #5
               from           to         amount
0           Austria      Belgium   13553.951320
1           Austria      Croatia  316152.843436
2           Austria      Denmark   23250.522389
3           Austria       Greece   67250.699741
4           Austria      Hungary  871185.617887
..              ...          ...            ...
442  United Kingdom     Slovakia    1736.081462
443  United Kingdom     Slovenia    4638.996489
444  United Kingdom        Spain   31536.660980
445  United Kingdom       Sweden  449112.115195
446  United Kingdom  Switzerland  126440.305160

[447 rows x 3 columns]
Week #6
               from           to         amount
0           Austria      Belgium   18725.890682
1           Austria      Croatia  360210.291556
2           Austria      Denmark   19515.224282
3           Austria       France       1.192384
4           Austria       Greece   63360.861187
..              ...          ...            ...
441  United Kingdom     Slovakia    2297.999337
442  United Kingdom     Slovenia    5476.210066
443  United Kingdom        Spain   14570.050324
444  United Kingdom       Sweden  441728.625804
445  United Kingdom  Switzerland  143299.921666

[446 rows x 3 columns]
Week #7
               from           to         amount
0           Austria      Belgium   20458.319196
1           Austria      Croatia  425285.626503
2           Austria      Denmark   21466.026753
3           Austria       France       0.615284
4           Austria       Greece   86412.729816
..              ...          ...            ...
431  United Kingdom     Slovakia    1642.621284
432  United Kingdom     Slovenia    9006.835193
433  United Kingdom        Spain   12842.560944
434  United Kingdom       Sweden  485116.616961
435  United Kingdom  Switzerland  147825.466281

[436 rows x 3 columns]
Week #8
               from           to         amount
0           Austria      Belgium   19710.698571
1           Austria      Croatia  390689.686233
2           Austria      Denmark   21177.905269
3           Austria       Greece   87423.524252
4           Austria      Hungary  909727.244835
..              ...          ...            ...
425  United Kingdom     Slovakia    1499.727793
426  United Kingdom     Slovenia   10678.267398
427  United Kingdom        Spain   12693.790547
428  United Kingdom       Sweden  509565.658667
429  United Kingdom  Switzerland  135161.295218

[430 rows x 3 columns]
Week #9
               from           to         amount
0           Austria      Belgium   16181.510769
1           Austria      Croatia   18895.174127
2           Austria      Denmark   24012.751718
3           Austria       France    6954.843819
4           Austria       Greece    2226.157612
..              ...          ...            ...
430  United Kingdom     Slovakia    3674.920239
431  United Kingdom     Slovenia    6625.869592
432  United Kingdom        Spain   55324.419167
433  United Kingdom       Sweden  505992.425434
434  United Kingdom  Switzerland   95825.033204

[435 rows x 3 columns]
Week #10
               from           to         amount
0           Austria      Belgium   18098.936373
1           Austria      Croatia   20165.986111
2           Austria      Denmark   23942.441493
3           Austria       France    9322.388710
4           Austria       Greece    1837.144737
..              ...          ...            ...
433  United Kingdom     Slovakia    4261.834818
434  United Kingdom     Slovenia    6283.661434
435  United Kingdom        Spain   42470.543936
436  United Kingdom       Sweden  471205.758857
437  United Kingdom  Switzerland  112170.410600

[438 rows x 3 columns]
Week #11
               from              to         amount
0           Austria         Belgium   18973.999728
1           Austria         Croatia   22348.227321
2           Austria  Czech Republic       0.203164
3           Austria         Denmark   31884.727763
4           Austria          France    4497.497488
..              ...             ...            ...
455  United Kingdom        Slovakia    2796.339752
456  United Kingdom        Slovenia    7798.657088
457  United Kingdom           Spain   38312.603679
458  United Kingdom          Sweden  530459.333050
459  United Kingdom     Switzerland  107307.860176

[460 rows x 3 columns]
Week #12
               from           to         amount
0           Austria      Belgium   18106.722006
1           Austria      Croatia   20277.615738
2           Austria      Denmark   25506.745949
3           Austria       France    4539.640680
4           Austria       Greece     258.632734
..              ...          ...            ...
454  United Kingdom     Slovakia    1908.768253
455  United Kingdom     Slovenia    6604.713586
456  United Kingdom        Spain   22526.892905
457  United Kingdom       Sweden  447951.619979
458  United Kingdom  Switzerland   42159.687229

[459 rows x 3 columns]
Week #13
               from           to         amount
0           Austria      Belgium   18897.375781
1           Austria      Croatia   19320.241626
2           Austria      Denmark   32301.442629
3           Austria       France    8006.884121
4           Austria       Greece     336.556175
..              ...          ...            ...
451  United Kingdom     Slovakia    1703.172394
452  United Kingdom     Slovenia    5720.997306
453  United Kingdom        Spain   20403.783510
454  United Kingdom       Sweden  527338.988279
455  United Kingdom  Switzerland   48032.562739

[456 rows x 3 columns]
Week #14
               from              to         amount
0           Austria         Belgium   26438.795580
1           Austria         Croatia  412182.680926
2           Austria  Czech Republic       1.021047
3           Austria         Denmark   92613.714068
4           Austria          France    7981.017506
..              ...             ...            ...
452  United Kingdom        Slovakia    1510.027381
453  United Kingdom        Slovenia    5877.164546
454  United Kingdom           Spain   19521.453415
455  United Kingdom          Sweden  416338.647257
456  United Kingdom     Switzerland   40005.485008

[457 rows x 3 columns]
Week #15

               from           to         amount
0           Austria      Belgium   16824.463575
1           Austria      Croatia  626656.178175
2           Austria      Denmark  100652.437790
3           Austria       France    5544.962584
4           Austria       Greece  113747.297802
..              ...          ...            ...
452  United Kingdom     Slovakia    1833.744838
453  United Kingdom     Slovenia    3574.015132
454  United Kingdom        Spain   21441.599495
455  United Kingdom       Sweden  320316.185613
456  United Kingdom  Switzerland   68828.032529

[457 rows x 3 columns]
Week #16
               from           to         amount
0           Austria      Belgium   18023.488648
1           Austria      Croatia  556201.183220
2           Austria      Denmark   76867.436187
3           Austria       France    2056.005396
4           Austria       Greece  106041.314296
..              ...          ...            ...
449  United Kingdom     Slovakia    1848.310185
450  United Kingdom     Slovenia    3233.839367
451  United Kingdom        Spain   34801.857831
452  United Kingdom       Sweden  321037.081435
453  United Kingdom  Switzerland   79802.991176

[454 rows x 3 columns]

In [10]:
dpath = r'C:\Users\TQ\Desktop\Thesis_Code\weekly_data'
path_gb = r'C:\Users\TQ\Desktop\Thesis_Code\weekly_data_gb'
path_gb_cc_time = r'C:\Users\TQ\Desktop\Thesis_Code\weekly_data_gb_excel_cc_time'

# create excel files from-to , amnout and store it in wekly_data_gb_excel_cc_time folder 

from os import listdir, path
import os as os 
import pandas as pd 

for index , filename in enumerate(listdir(path_gb)):
    
    df = pd.read_excel (path_gb +'\\'+filename) #place "r" before the path string to address special character, such as '\'. Don't forget to put the file name at the end of the path + '.xlsx'
    df["from_to"] = df["from"] + "-" + df["to"] 
    # merge from , to columns 
    df = df.drop(columns = ["from" , "to"])
    # reArrage columns 
    cols = df.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    df = df[cols]
    df.to_csv(os.path.join(path_gb_cc_time, "week{}".format(str(index + 1) ) + ".csv"), index = False)

    print(df)

                        from_to         amount
0               Austria-Belgium   16057.641038
1               Austria-Croatia   20532.902045
2               Austria-Denmark   18775.339888
3                Austria-France    8900.132538
4                Austria-Greece    1577.863218
..                          ...            ...
452     United Kingdom-Slovakia    3192.669187
453     United Kingdom-Slovenia    7651.642798
454        United Kingdom-Spain   55818.952467
455       United Kingdom-Sweden  501374.722193
456  United Kingdom-Switzerland   57742.419403

[457 rows x 2 columns]
                        from_to         amount
0               Austria-Belgium   18098.936373
1               Austria-Croatia   20165.986111
2               Austria-Denmark   23942.441493
3                Austria-France    9322.388710
4                Austria-Greece    1837.144737
..                          ...            ...
433     United Kingdom-Slovakia    4261.834818
434     United Kingdom-Slovenia    6283.661434
435        United Kingdom-Spain   42470.543936
436       United Kingdom-Sweden  471205.758857
437  United Kingdom-Switzerland  112170.410600

[438 rows x 2 columns]
                        from_to         amount
0               Austria-Belgium   18973.999728
1               Austria-Croatia   22348.227321
2        Austria-Czech Republic       0.203164
3               Austria-Denmark   31884.727763
4                Austria-France    4497.497488
..                          ...            ...
455     United Kingdom-Slovakia    2796.339752
456     United Kingdom-Slovenia    7798.657088
457        United Kingdom-Spain   38312.603679
458       United Kingdom-Sweden  530459.333050
459  United Kingdom-Switzerland  107307.860176

[460 rows x 2 columns]
                        from_to         amount
0               Austria-Belgium   18106.722006
1               Austria-Croatia   20277.615738
2               Austria-Denmark   25506.745949
3                Austria-France    4539.640680
4                Austria-Greece     258.632734
..                          ...            ...
454     United Kingdom-Slovakia    1908.768253
455     United Kingdom-Slovenia    6604.713586
456        United Kingdom-Spain   22526.892905
457       United Kingdom-Sweden  447951.619979
458  United Kingdom-Switzerland   42159.687229

[459 rows x 2 columns]
                        from_to         amount
0               Austria-Belgium   18897.375781
1               Austria-Croatia   19320.241626
2               Austria-Denmark   32301.442629
3                Austria-France    8006.884121
4                Austria-Greece     336.556175
..                          ...            ...
451     United Kingdom-Slovakia    1703.172394
452     United Kingdom-Slovenia    5720.997306
453        United Kingdom-Spain   20403.783510
454       United Kingdom-Sweden  527338.988279
455  United Kingdom-Switzerland   48032.562739

[456 rows x 2 columns]
                        from_to         amount
0               Austria-Belgium   26438.795580
1               Austria-Croatia  412182.680926
2        Austria-Czech Republic       1.021047
3               Austria-Denmark   92613.714068
4                Austria-France    7981.017506
..                          ...            ...
452     United Kingdom-Slovakia    1510.027381
453     United Kingdom-Slovenia    5877.164546
454        United Kingdom-Spain   19521.453415
455       United Kingdom-Sweden  416338.647257
456  United Kingdom-Switzerland   40005.485008

[457 rows x 2 columns]
                        from_to         amount
0               Austria-Belgium   16824.463575
1               Austria-Croatia  626656.178175
2               Austria-Denmark  100652.437790
3                Austria-France    5544.962584
4                Austria-Greece  113747.297802
..                          ...            ...
452     United Kingdom-Slovakia    1833.744838
453     United Kingdom-Slovenia    3574.015132
454        United Kingdom-Spain   21441.599495
455       United Kingdom-Sweden  320316.185613
456  United Kingdom-Switzerland   68828.032529

[457 rows x 2 columns]
                        from_to         amount
0               Austria-Belgium   18023.488648
1               Austria-Croatia  556201.183220
2               Austria-Denmark   76867.436187
3                Austria-France    2056.005396
4                Austria-Greece  106041.314296
..                          ...            ...
449     United Kingdom-Slovakia    1848.310185
450     United Kingdom-Slovenia    3233.839367
451        United Kingdom-Spain   34801.857831
452       United Kingdom-Sweden  321037.081435
453  United Kingdom-Switzerland   79802.991176

[454 rows x 2 columns]
                        from_to         amount
0               Austria-Belgium   15072.222099
1               Austria-Croatia  415515.971751
2               Austria-Denmark   26657.130959
3                Austria-France     281.467575
4                Austria-Greece  100152.701814
..                          ...            ...
448     United Kingdom-Slovakia    1156.354409
449     United Kingdom-Slovenia    2667.840675
450        United Kingdom-Spain   20031.957363
451       United Kingdom-Sweden  355320.240037
452  United Kingdom-Switzerland   65172.667261

[453 rows x 2 columns]
                        from_to         amount
0               Austria-Belgium   11486.422239
1               Austria-Croatia  261962.976658
2               Austria-Denmark   17748.494693
3                Austria-France     566.749829
4                Austria-Greece   82647.382494
..                          ...            ...
450     United Kingdom-Slovakia    1301.615963
451     United Kingdom-Slovenia    3510.118020
452        United Kingdom-Spain   37110.169985
453       United Kingdom-Sweden  330004.152225
454  United Kingdom-Switzerland   46546.848074

[455 rows x 2 columns]
                        from_to         amount
0               Austria-Belgium   14585.955052
1               Austria-Croatia  289957.312944
2               Austria-Denmark   19477.747309
3                Austria-France     216.099738
4                Austria-Greece   89455.818249
..                          ...            ...
449     United Kingdom-Slovakia     996.538284
450     United Kingdom-Slovenia    3454.041899
451        United Kingdom-Spain   32506.653009
452       United Kingdom-Sweden  398901.081042
453  United Kingdom-Switzerland   82474.053889

[454 rows x 2 columns]
                        from_to         amount
0               Austria-Belgium   13553.951320
1               Austria-Croatia  316152.843436
2               Austria-Denmark   23250.522389
3                Austria-Greece   67250.699741
4               Austria-Hungary  871185.617887
..                          ...            ...
442     United Kingdom-Slovakia    1736.081462
443     United Kingdom-Slovenia    4638.996489
444        United Kingdom-Spain   31536.660980
445       United Kingdom-Sweden  449112.115195
446  United Kingdom-Switzerland  126440.305160

[447 rows x 2 columns]
                        from_to         amount
0               Austria-Belgium   18725.890682
1               Austria-Croatia  360210.291556
2               Austria-Denmark   19515.224282
3                Austria-France       1.192384
4                Austria-Greece   63360.861187
..                          ...            ...
441     United Kingdom-Slovakia    2297.999337
442     United Kingdom-Slovenia    5476.210066
443        United Kingdom-Spain   14570.050324
444       United Kingdom-Sweden  441728.625804
445  United Kingdom-Switzerland  143299.921666

[446 rows x 2 columns]
                        from_to         amount
0               Austria-Belgium   20458.319196
1               Austria-Croatia  425285.626503
2               Austria-Denmark   21466.026753
3                Austria-France       0.615284
4                Austria-Greece   86412.729816
..                          ...            ...
431     United Kingdom-Slovakia    1642.621284
432     United Kingdom-Slovenia    9006.835193
433        United Kingdom-Spain   12842.560944
434       United Kingdom-Sweden  485116.616961
435  United Kingdom-Switzerland  147825.466281

[436 rows x 2 columns]
                        from_to         amount
0               Austria-Belgium   19710.698571
1               Austria-Croatia  390689.686233
2               Austria-Denmark   21177.905269
3                Austria-Greece   87423.524252
4               Austria-Hungary  909727.244835
..                          ...            ...
425     United Kingdom-Slovakia    1499.727793
426     United Kingdom-Slovenia   10678.267398
427        United Kingdom-Spain   12693.790547
428       United Kingdom-Sweden  509565.658667
429  United Kingdom-Switzerland  135161.295218

[430 rows x 2 columns]

                        from_to         amount
0               Austria-Belgium   16181.510769
1               Austria-Croatia   18895.174127
2               Austria-Denmark   24012.751718
3                Austria-France    6954.843819
4                Austria-Greece    2226.157612
..                          ...            ...
430     United Kingdom-Slovakia    3674.920239
431     United Kingdom-Slovenia    6625.869592
432        United Kingdom-Spain   55324.419167
433       United Kingdom-Sweden  505992.425434
434  United Kingdom-Switzerland   95825.033204

[435 rows x 2 columns]

In [11]:
dpath = r'C:\Users\TQ\Desktop\Thesis_Code\weekly_data'
path_gb = r'C:\Users\TQ\Desktop\Thesis_Code\weekly_data_gb'
path_gb_cc_time = r'C:\Users\TQ\Desktop\Thesis_Code\weekly_data_gb_excel_cc_time'

# create excel files from-to , amnout and store it in wekly_data_gb_excel_cc_time folder 

from os import listdir, path
import os as os 
import pandas as pd 
#titanic[titanic["Age"] > 35]

# df = pd.read_csv(path_gb_cc_time+"\\"+"week{}".format(str(1)) + '.csv').iloc[:,0]

final = pd.DataFrame()
all_traffic = {} 
for week in range(len(listdir(path_gb_cc_time))):
     from_to =  pd.read_csv(path_gb_cc_time+"\\"+"week{}".format(str(week+1)) + '.csv').iloc[:,0]
     throughput = pd.read_csv(path_gb_cc_time+"\\"+"week{}".format(str(week+1)) + '.csv').iloc[:,1]
     all_traffic["week{}".format(week + 1 )] = [from_to , throughput ]                 
     # final["from_to_week{}".format(week + 1 )] = pd.read_csv(path_gb_cc_time+"\\"+"week{}".format(str(week+1)) + '.csv').iloc[:,0]
     # final["throughput_week{}".format(week + 1 )] = pd.read_csv(path_gb_cc_time+"\\"+"week{}".format(str(week+1)) + '.csv').iloc[:,1]

all_traffic
        
nodes1 = all_traffic['week1'][0]
throughput1 = all_traffic['week1'][1]
print(throughput1)

0       16057.641038
1       20532.902045
2       18775.339888
3        8900.132538
4        1577.863218
           ...
452      3192.669187
453      7651.642798
454     55818.952467
455    501374.722193
456     57742.419403
Name: amount, Length: 457, dtype: float64

In [12]:
dpath = r'C:\Users\TQ\Desktop\Thesis_Code\weekly_data'
path_gb = r'C:\Users\TQ\Desktop\Thesis_Code\weekly_data_gb'
path_gb_cc_time = r'C:\Users\TQ\Desktop\Thesis_Code\weekly_data_gb_excel_cc_time'

# create excel files from-to , amnout and store it in wekly_data_gb_excel_cc_time folder 

from os import listdir, path
import os as os 
import pandas as pd 

# df = pd.read_csv(path_gb_cc_time+"\\"+"week{}".format(str(1)) + '.csv').iloc[:,0]

all_traffic = []
cc_t = pd.read_csv(path_gb_cc_time+"\\"+"week{}".format(str(0+1)) + '.csv');
cc_t = cc_t.rename(columns={"amount":"week1"})
for week in range(1,len(listdir(path_gb_cc_time))):
     right =  pd.read_csv(path_gb_cc_time+"\\"+"week{}".format(str(week+1)) + '.csv');
     right = right.rename(columns={"amount":"week{}".format(str(week+1))})
     cc_t = pd.merge(cc_t, right,how="outer", on="from_to")
cc_t = cc_t.fillna(0)

In [14]:
cc_t.to_csv('all.csv')